.anime-card {
  background: rgba(255, 255, 255, 0.1); /* White with transparency */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */

  .anime-card-content {
    h2 {
      margin: 0 0 10px 0;
    }

    p {
      margin: 0;
    }
  }
}

.bg-purple{
  padding: 20px;
  background-color: rgba(24, 7, 20, 0.27);
  color: white;
}

